

.navbar{
    display: flex;
    align-items: center;
    margin: 0;
}

.nav-bar-list{
    margin-left: 20px;
    width: 100%;

}

 .mini-nav{
    background-color:#2e2e2e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.mini-nav a{
    padding: 10px;
}

.nav-bar-list ul{
    display: flex;
    width: 100%;
    height: 100%;

    
}


.nav-bar-list ul li{
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
}