
/* navbar */
.navbar{
    display: flex;
    align-items: center;
    margin: 0;
    border-bottom: 2px solid rgb(238, 238, 238);
    
}
/* logo  start */

.logo{
    height: 100px;
    background-color: orange;
}


/* logo end */

/* navbar start */
.nav-bar-list{
    width: 100%;

}

/* mini navbar  */
 .mini-nav{
    background-color:#2e2e2e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.mini-nav a{
    padding: 10px;
}

/* mini navbar end */

.nav-bar-list ul{
    display: flex;
    width: 100%;
    height: 100%;

    
}


.nav-bar-list ul li{
    list-style: none;
    width: 100%;
    margin-right: 20px;
    font-size: 20px;
}
/* navbar end */